body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  background-color: #EAF6F6;
}

h1 {
  font-size: 90px;
  font-family: 'Sacramento', cursive;
  margin: 50px auto 0 auto;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

.top-container {
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin-top: 30px;
  line-height: 2;
  margin-top: 70px;
}

/* .profile {
  margin-top: 70px;

} */
.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

.skills {
  line-height: 2;
}

/* .bottom-container {
} */
.web {
  text-decoration: underline;
}

.bottom-cloud {
  position: absolute;
  bottom: 300px;
  left: 220px;
}

.top-cloud {
  position: absolute;
  top: 50px;
  right: 250px;
}

.myphoto {
  max-width: 200px;
  max-height: 200px;
}
.myphoto2 {
  max-width: 250px;
  max-height: 250px;
  border-radius: 50%;
}

.Python, .Youtuber {
  width: 25%;
  float: left;
  margin-right: 20px;
}

.introduction {
  color: #40514E;
  width: 30%;
  margin: auto auto 70px auto;
}

hr {
  border: dotted black 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

.bottom-container {
  background-color: #66BFBF;
  height: 100px;
  padding-top: 30px;
}

a {
  text-decoration: none;
  color: #11999E;
  margin: 10px 20px;
}

a:hover {
  color: pink;
}

.last-para {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.contact-me {
  line-height: 3;
  margin-bottom: 50px;
}

.last-line {
  width: 40%;
  margin: 40px auto 60px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999E);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999E);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999E);
  background-image: -o-linear-gradient(top, #11cdd4, #11999E);
  background-image: linear-gradient(to bottom, #11cdd4, #11999E);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
